<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>


<mat-grid-list cols="2" rowHeight="150px">

    <mat-grid-tile colspan="1" rowspan="1">
  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>
Summary
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
      <div *ngIf="patientsData">



        Effected :  {{patientsData.length}}

         Recovered  :  {{patientsRecoveredData.length}}

            Current Patients :  {{patientHptlData.length}}

              Death :  {{patientDeathData.length}}

      </div>
    </mat-card-content>
  </mat-card>
  </mat-grid-tile>
</mat-grid-list>



<mat-grid-list cols="1" rowHeight="550px">
  <mat-grid-tile colspan="1" rowspan="1">
<mat-card class="p-55">
  <mat-card-header>
    <mat-card-title>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">
    <div *ngIf="patientsData">
      <div *ngIf="allState">

      <app-bar-chart [allState]="allState">

      </app-bar-chart>


    </div></div>
  </mat-card-content>
</mat-card>
</mat-grid-tile>
</mat-grid-list>

<!-- <mat-grid-list cols="2" rowHeight="450px">
<mat-grid-tile colspan="1" rowspan="1">
  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
      <div *ngIf="patientsData">

       <app-line-chart>

       </app-line-chart>

      </div>
    </mat-card-content>
  </mat-card>
</mat-grid-tile>

</mat-grid-list> -->


</div>
